<!--this code is rendered on multiple pages-->
<header class="nav-header">
  <nav class="navbar-top">
    <h1>QUIZAPP</h1>
    <div class="nav-container">
      <div class="inner-nav">
        <a href="/users/1">My Quizzes&nbsp;</a>
        <!-- <a href="">Create New Quiz</a> -->

        <form action="/logout" method="POST">
          <div class="nav-menu">

            <h7>

            </h7>

              <button formaction="/logout">Logout</button>

            <div>
              <a href="/login">Login</a>
              <a href="/register">Register</a>
            </div>

          </div>
        </form>

      </div>
    </div>
  </nav>
</header>
