<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzes</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CDN Scripts -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Quicksand:wght@300;400;600&family=Sarabun:ital,wght@0,300;0,500;1,300;1,500;1,600&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Client Scripts-->
  <script defer src="/scripts/quizzes.js"></script>

  <!-- External JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('partials/nav'); %>
    <main>
      <div class="explore-quizzes">
        <header class="welcome-header">
          <h1>Welcome,<br>&nbsp;Gale Hawkins!</h1>
          <div>
            <h1 id="explore">Explore<br>Quizzes</h1>
            <!-- <img src="../public/images/down-arrow.png"/> -->
            <!-- <i class="fa-sharp fa-solid fa-down-long fa-4x"></i> -->
          </div>
        </header>
        <div class="make-new">
          <a href="/quizzes/new"><button class="home-buttons btn btn-primary">Make New Quiz</button></a>
        </div>
        <button class="filter-toggle home-buttons btn btn-primary">Topic Filter</button>
        <div class="form-group quiz-filter">
          <label for="exampleFormControlSelect1"></label>
          <select class="form-control" id="topic-filter">
            <% for (let q of quizzes) { %>
              <option><%= q.subject %></option>
            <% } %>
          </select>
          <button class="btn btn-outline-primary" id="filter">Filter</button>
          <button class="btn btn-outline-danger" id="clear-filter">Clear</button>
        </div>

      </div>

      <div class="quiz-container">
      </div>

      <div class="my-quizzes">
      </div>
    </main>

    <!-- CDNs jQuery & BS JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>
