<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/quizzes_new_success.js"></script>

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <main>
  <h1>Quiz Created Successfully!</h1>
  <section class = "details">
    <h5>Title: <%= `${title}` %></h5>
    <h5>Number of Questions: <%= `${questions_num}` %></h5>
    <section> Share:
    <input type="text" value="http://localhost:8080/quizzes/<%= `${custom_url}` %>" id="copytexts">
    <button class="btn btn-primary" id="copy">copy</button>
    <a href="/quizzes"><button>Return To Quizzes</button></a>
    <a href="/quizzes/<%= `${quiz_id}` %>"><button class="btn btn-success" id="try-it">Try Your Quiz!</button></a>
  </section>
</main>



      <!-- Bootstrap JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>
