<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CDN Scripts -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quiz-attempt.css" />

  <!-- External JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script defer src="/scripts/quizzes_attempt.js"></script>


</head>

<body>


  <main>
    <header class="quiz-header">
      <h1>
        <%= quiz.title %>
      </h1>
      <h2>Topic:&nbsp; <%= quiz.subject %>
      </h2>
    </header>

    <div class="quiz-attempt" id="quiz-attempt">


    </div>

  </main>


  <!-- CDNs jQuery & BS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>


<!-- <section class="make-quiz">
    <div class="question">
      <p>Question 1</p>
      <h3 id="question">QUESTION.......</h3>
    </div>

    <div>
      <img src="" />
    </div>

    <div class="quiz-dyn-buttons">
      <h4>correct!/ nope!</h4>
      <button id="next-question">Next</button>
    </div>

    <div class="answers">
      <button value="1">ANSWER 1 - ANSWER</button>
      <button value="2">ANSWER 2 - ANSWER</button>
      <button value="3">ANSWER 3 - ANSWER</button>
      <button value="4">ANSWER 4 - ANSWER</button>
    </div>
  </section> -->

</html>
