.main {
  align-items: center;
}

.quiz-header {
  width: 100%;
  height: 200px;
  padding-left: 0;
  margin-bottom: 1.5em;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://images.pexels.com/photos/11308623/pexels-photo-11308623.jpeg?auto=compress&cs=tinysrgb&w=400');
  background-position: center;
  background-size: cover;
  h1 {
    margin-bottom: 0;
  }
}

.quiz-attempt {
  display: flex;
  justify-content: center;
}

.make-quiz {
  border: 3px solid black;
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.question {
  padding: 25px;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    height: 70px;
    padding-top: 0.25em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }
}

.quiz-dyn-buttons {
  padding-bottom: 1em;
  flex-direction: column;
  display: flex;
  align-items: center;

  .quiz-dyn-next {
    height: 2.15em;
  }
  h4 {
    font-size: 26px;
  }
  #next-question {
    height: 35px;
    width: 117px;
  }
}

.answers {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  button {
    min-height: 100px;
    min-width: 48%;
    max-width: 48%;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    word-break: break-word;
    justify-content: center;
  }
}
