.quiz-main {
  width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 999;
  align-items: center;
  padding-top: 2em;

}

.quiz-header {
  width: 90%;
  height: 23em;
  margin-top: 4em;
  padding-top: 4em;
  color: white;
  text-shadow:
  rgb(28, 28, 28) -3px -3px 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 0;

  h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
  }
}

.quiz-attempt {
  width: 90%;
  margin-top: 4em;
  padding-top: 13em;
  color: whitesmoke;
  border: 5px solid #000000;
  box-shadow: 7.5px 7.5px 1.5px #0b0924;
  justify-content: center;
  display: flex;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.279) 0%, rgb(0, 0, 0) 336px, rgba(255, 255, 255, 0) 83%);

}

.make-quiz {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.question {
  color: #aacce9;
  padding: 20px 25px 0 25px;
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    height: 113px;
    padding-top: 0.25em;
    margin-bottom: 0;
    font-size: 22px;
  }
}

.quiz-dyn-buttons {
  padding-bottom: 1em;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: #cadeef;

  .quiz-dyn-next {
    height: 2.15em;
  }

  h4 {
    font-size: 26px;
    margin-bottom: 1.5rem;
  }

  #next-question {
    height: 39px;
    width: 122px;
    background: #ffdada;
    font-size: 17px;
  }
}


.answers {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  button {
    min-height: 100px;
    min-width: 48%;
    max-width: 48%;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    word-break: break-word;
    justify-content: center;
    background: #0b2361;
    color: #f4f4f4;
    border-color: #4b4564;
  }
  button:hover {
    background: #b5caff;
    transition: 0.5;
    color:#000000;
    font-size: 18px;
  }
}
