.user-header {
  width: 100%;
  padding-left: 21px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 95px;
  font-size: 12px;
}

.result-header {
  padding: 5px;
  padding-left: 10px;
  a {
    padding-left: 10px;
  }
}

.user_stats {
  padding-top: 10px;
  padding-bottom: 23px;

  h4 {
    font-size: 20px;
  }
}

.user-quiz-result-select{
  button {
    background-color: #13006f;
    border-color: #0036d0;
    border-radius: 0;
  }
}

.quiz {
  height: 175px;
}
